

.App {
  text-align: center;
  color: #fff;
  background-color: rgb(27, 27, 27);
  height: 100vh;
  padding: 0px;
  margin-top: -21.5px;
}

.guessTable {
  width:100%;
  margin-left: auto;
  margin-right: auto;
}

.guessTable {
  color: #000;
}

.table-header {
  background-color: #fff;
}

#skatle-desc {
  margin-top: -15px;
}

#how-to {
  position: absolute;
  margin-top: 2vh;
  margin-left: 2vh;
  transition: 1s;
  cursor: pointer;
}

#how-to:hover {
  color: rgb(197, 197, 197);
}

.data {
  padding: 5px;
}

.heading{
  padding: 10px;
}


.gameInfo {
  font-size: 12px;
  text-align: center;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  background-color:rgb(27, 27, 27)
}